html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #4080ff;

}

h1{
    color: rgb(255, 255, 255);
    font-size: 32px;
}
#new-book-btn{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.books{
    text-align: center;
}

#new-book-form{
    text-align: center;

}
#library{
    display: flex;
    flex-direction: row;

}

.book-section{
    margin: 20px;
    color: white;
    border-radius: 10px;
}

.books{
    color: white;

}


#author, #title, #pages, #read{
    margin: 5px;
}

h4, h3{
    background-color: white;
    color: #000000;
    padding: 10px;
}

#remove_btn{
    display: block;
    margin: 0 auto;
}